<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iptime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Учёт в цифре"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".passActivity"></activity>
        <activity android:name=".fullInformationAboutGuestActivity" />
        <activity android:name=".allGuestsActivity" />
        <activity android:name=".addGuestMeetActivity" />
        <activity android:name=".addGuestActivity" />
        <activity android:name=".membersActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>